body {
    background-color: #e0f3ff;
    font-family: 'Abel', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.first{
    display: flex;
    justify-content: center;
    align-items: center;
}

.first img  {
    align-items: center;
    height: 13%;
    width: 13%;
    border: 4px solid #1c3e9c; 
    border-radius: 100%; 
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.first img:hover {
    transition: 2s;
    filter: brightness(1.1) contrast(1.1) saturate(1.1) ;
    
}

header {
    padding-bottom: 0%;
}


.containeres {
    background-image: url("img/wp9164014-blue-white-4k-wallpapers.jpg");
    padding :5%;
    padding-top: 30%;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
}


h1 {
    transition: 1s;
    color: #1c3e9c;
    font-family: 'Kalam', cursive;
    font-weight: 900;
    font-size: 450%;
    text-align: center;
}

h1:hover{
    transition: 1s;
    color: rgb(41, 30, 184);
}

nav {
    background: linear-gradient(to bottom, #3d57a0, #b8ebff);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    height: 120px;
    width: 100%;
}

nav ul {
    margin-left: 3%;
    list-style-type: none;
    padding: 0%;
    display: flex;
    text-align: center;

}

nav ul li {
    display: inline;
    margin-right: 40px;
    font-size: 90%;
    padding-left: 0%;
}

.container1 {
    max-width: 1400px;
    text-align: center;
    margin: 15% auto;
    margin-top: 0%;
    border: #4c98af 3px solid;
    border-radius: 20px;
    transition: transform 1s, background-color 0.8s, box-shadow 1s;
    font-size: 350%;
    background-color: #ffffffa6;
}

.container1:hover {
    background-color: #ffffff;
    box-shadow: 0px 0px 50px rgb(0, 110, 255);
}

h2 {
    text-align: center;
    color: #1c3e9c;
}
h3 {
    color:#1e6ca0;
    text-align: center;
}
ul p {
    padding: 35px;
    padding-right: 70px;
    padding-top: 0px;
    font-weight: 100;
    font-family: 'Abel', sans-serif;
    line-height: 1.3;
    font-size: 25px;
    text-align: justify;
}

#menu {
    margin-left: auto;
    transition: 0.8s;
}

#menu button {
    font-weight: 100;
    font-family: "Mona Sans","Mona Sans Header Fallback",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    background-color: transparent;
    transition: 1s;
    font-size: 150%;
    color: white;
    padding: 5px;
    border: #004ec4 0px solid;
    border-radius: 5%;
    transition: text-decoration 1s ease;
}

#menu button:hover {
    font-weight: 300;
    color: rgb(120, 255, 248);
    transition: 1s;
}

.menu_re {
    padding: 1%;
    width: 90px;
    height: 90px;
    margin-right: 20px;
}

.duo {
    position: absolute;
    padding: 1px;
    width: 90px;
    height: 90px;
}

#carré {
    margin-left: 5px;
    padding: 1px;
    width: 75px;
    height: 90px;
}


.underline {
    transition: 1s;
    height: 1px;
    background-color: white;
    width: 0%;
}

li:hover>div {
    background-color: rgb(120, 255, 248);
    width: 100%;
}


strong {
    color: #0099ff;
}

@media (max-width: 767px) {
    .first img {
        height: 15%;
        width: 15%;
    }
    .containeres {
        padding: 5%; /* Ajustez l'espacement pour les téléphones en mode portrait */
        padding-top: 1%; /* Ajustez l'espacement pour les téléphones en mode portrait */
    }

    h1 {
        font-size: 250%; /* Ajustez la taille de la police pour les téléphones en mode portrait */
    }

    nav {
        display: flex;
        height:80px; /* Ajustez la hauteur de la barre de navigation pour les téléphones en mode portrait */
    }

    nav ul {
        display: flex;

       
        margin-left: 0; /* Ajustez la marge pour les téléphones en mode portrait */
    }

    nav ul li {
        display: flex; /* Affichez les éléments de menu verticalement pour les téléphones en mode portrait */
        margin: 5px;
        margin-bottom: 0px; /* Ajustez la marge entre les éléments de menu pour les téléphones en mode portrait */
        font-size: 120%; /* Ajustez la taille de la police pour les téléphones en mode portrait */
    }
    li:hover>div {
        background-color: rgb(120, 255, 248);
        width: 0%;
    }

    .container1 {
        margin: 5% auto; /* Ajustez la marge pour les téléphones en mode portrait */
        padding: 5%; /* Ajustez l'espacement pour les téléphones en mode portrait */
        font-size: 150%; /* Ajustez la taille de la police pour les téléphones en mode portrait */
        border-radius: 10px; /* Ajustez le rayon du bord pour les téléphones en mode portrait */
    }

    h2 {
        font-size: 150%; /* Ajustez la taille de la police pour les téléphones en mode portrait */
    }

    h3 {
        font-size: 100%; /* Ajustez la taille de la police pour les téléphones en mode portrait */
    }

    ul p {
        padding: 5% 5% 2% 0%; /* Ajustez l'espacement du texte pour les téléphones en mode portrait */
        font-size: 55%; /* Ajustez la taille de la police pour les téléphones en mode portrait */
    }

    #menu button {
        text-align: center;
        font-size: 90%; /* Ajustez la taille de la police pour les téléphones en mode portrait */
    }
    .menu_re{
        transform: scale(0.5);
        margin: 0px;
        padding: 0%;
    }
    .duo{
        transform: scale(0.5);
    }
    #carré {
        padding-left: 1%;
        height: 88.5px;
    }}