:root {
    --transition-speed: 0.6s;
    --main-color: #8f2eff; /* Violet galactique */
    --secondary-color: black; /* Blanc */
    --bg-color: #ffffff;
    --box-shadow: 0px 0px 20px rgb(255, 255, 255), 0px 0px 35px 5px var(--main-color);
    --box-shadow-hover: 0px 0px 20px rgba(255, 255, 255, 0.555), 0px 0px 20px var(--main-color);
}
*{
    border: 0px solid rgb(255, 0, 0);
}

header{

    transition: 0.1s;
    background-image: url("img/day_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color:var(--bg-color);
    
}

#Accueil {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Utiliser la hauteur disponible sans débordement */
    width: 100vh; /* Utiliser toute la largeur disponible */
    margin: auto;
    /* Style pour appliquer une ombre uniquement en bas */
    z-index: 999;
}

h1 {
    color: var(--secondary-color);
    font-family: "Space Grotesk", sans-serif; 
    font-weight: 400;
    font-size: 4rem;
    text-align: center;
    line-height: 1.5;
    padding: 3%;

}
#titre{
    padding: 0;
}
span {
    font-weight: 500; /* Épaissir légèrement le texte */
    color: var(--main-color); /* Utiliser la couleur principale définie */
}


#pp {

    transition: var(--transition-speed);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: var(--box-shadow-hover);
    display: flex;
    justify-content: center;
    align-items: center; /* Centrer verticalement et horizontalement */
}

#pp:hover {
    transition: var(--transition-speed);
    transform: scale(1.05);
    box-shadow: var(--box-shadow);
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 0;
    width: 100%;
    font-size: 100%;
    text-align: center;
    justify-content: space-around;

}

nav ul {
    display: flex;
    text-align: center;
    list-style: none;
    padding: 0;
    align-items: center;
}

nav ul li { 
    opacity: 0;
    transition: opacity 0.5s ease;
}

#menuimg {
    top: 0;
    right: 10px;
    position: absolute;
    opacity: 1;
    transition: 0.5s;
}

#menuimg img{
    height: 60px;
    width: 60px;
}

#menuimg:hover {
    transform: scale(1.15);
}

#darkmode {
    margin-left: 10px;
    padding: 15px;
    transition: var(--transition-speed);
    background-image: url("img/darkmode.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#darkmode:hover {
    transform: scale(1.15);
}

button {
    background-color: transparent;
}

.menu {
    border-radius: 20px;
    position: absolute;
    top:0;
    right:0;
    height: 70px;
    width: 10%;
    transition: var(--transition-speed);
    margin: 1%;
}
.expanded{
    width: 630px;
}
.menu button {
    margin-right: 50%;
    text-align: center;
    justify-content: space-around;
    font-weight: 100;
    font-family: "Space Grotesk", sans-serif; 
    background-color: transparent;
    font-size: 150%;
    color: var(--secondary-color);
    border: var(--main-color) 0px solid;
}

.menu button:hover {
    font-weight: 300;
    color: var(--secondary-color);
}

div{ 
    display: flex;
    flex-direction: column; /* Assure que chaque rubrique soit empilée verticalement */
    justify-content: center; /* Centrer verticalement le contenu */
    align-items: center; /* Centrer horizontalement le contenu */
    text-align: center;
}
.underline {
    transition: 0.5s;
    height: 1px;
    background-color: var(--secondary-color);
    width: 0%;
}
li:hover .underline{
    transition: 0.5s;
    height: 1px;
    background-color: var(--secondary-color);
    width: 95%;
}
#download {
    background-color: var(--main-color); /* Couleur de fond */
    color: var(--secondary-color); /* Couleur du texte */
    border: none; /* Supprimer la bordure */
    padding: 12px 20px; /* Espacement intérieur */
    font-size: 1.2rem; /* Taille de la police */
    border-radius: 8px; /* Coins arrondis */
    cursor: pointer; /* Curseur pointeur au survol */
    transition: background-color 0.3s ease; /* Transition fluide */
    box-shadow: var(--box-shadow-hover); /* Ombre au survol */
    transition: 0.5s;
  }
  
  #download:hover {
    transition: 0.5s;
    transform: scale(1.05);

  }
  
  /* Ancre autour du bouton pour étendre la zone de clic */
  a {
    text-decoration: none; /* Supprimer le soulignement du lien */
  }


/* FIN MENU ACCUEIL */




.contenant {
    display: flex;
    flex-direction: column; /* Assure que chaque rubrique soit empilée verticalement */
    justify-content: center; /* Centrer verticalement le contenu */
    align-items: center; /* Centrer horizontalement le contenu */
    text-align: center;
    margin: 10% auto;
    margin-top: 2%;
    margin-bottom: 1%;
    transition: transform 1s, background-color 0.8s, box-shadow 1s;
    height: 100vh; /* Prendre la hauteur de l'écran */
    width: 100vh; /* Prendre toute la largeur de l'écran */
}
#Projets {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap; /* Permettre le retour à la ligne des éléments */
    max-width: 100%;
    max-height: 100%;
}

.sous-contenant{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap; /* Permettre le retour à la ligne des éléments */
     max-width: 100%;
     max-height: 100%;
}
.sous-contenant1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap; /* Permettre le retour à la ligne des éléments */
    border-radius: 20px;
    padding: 2.5%;
    margin: 1px;
    box-shadow: var(--box-shadow-hover);
    transition: var(--transition-speed);
    max-width: 100%;
}
.sous-contenant1:hover{
    transition: var(--transition-speed);
    box-shadow: var(--box-shadow);
    max-width: 100%;
}

.projet {
    flex: 1 1 calc(30% - 15px); /* Taille flexible pour s'adapter à la largeur */
    margin: 10px;
    padding: 20px;
    box-sizing: border-box; /* Inclure la bordure dans la largeur */
    overflow: hidden; /* Cacher le contenu débordant */
}

.projet h2 {
    white-space: nowrap; /* Empêcher le retour à la ligne du texte */
    overflow: hidden;
    text-overflow: ellipsis; /* Ajouter des points de suspension */
}

.projet p {
    white-space: nowrap; /* Empêcher le retour à la ligne du texte */
    overflow: hidden;
    text-overflow: ellipsis; /* Ajouter des points de suspension */
}
p{
    font-family: "Space Grotesk", sans-serif; 
	text-align: justify;
    color: var(--secondary-color);
}
.conteneur {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    max-width: 100%;
  }
  
  .element {
    height:  10%;
    width: 10%;
    background-color: lightblue; /* Couleur de fond */
    margin: 10px; /* Marge extérieure */
    display: flex; /* Permet de centrer le contenu à l'intérieur de chaque élément */
    justify-content: center; /* Centre le contenu horizontalement */
    align-items: center; /* Centre le contenu verticalement */
    max-width: 100%;
  }
  
  /* Style pour le texte à l'intérieur de chaque élément */
  .element h2 {
    font-size: 1.5rem; /* Taille de la police */
    color: white; /* Couleur du texte */
    max-width: 100%;
  }

  .Projet {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box; /* Inclure la bordure dans la largeur */
    overflow: hidden; /* Cacher le contenu débordant */
    background-color: var(--bg-color); /* Couleur de fond */
    border-radius: 8px; /* Coins arrondis */
    box-shadow: var(--box-shadow-hover); /* Ombre au survol */
    transition: var(--transition-speed); /* Transition fluide */
    justify-content: space-around;
    
  }
  
  .Projet:hover {
    box-shadow: var(--box-shadow); /* Ombre plus prononcée au survol */
    transform: translateY(-5px); /* Légère translation vers le haut */
  }
  
  .Projet h2 {
    white-space: nowrap; /* Empêcher le retour à la ligne du texte */
    overflow: hidden;
    text-overflow: ellipsis; /* Ajouter des points de suspension en cas de débordement */
    font-family: "Space Grotesk", sans-serif; /* Police de caractères */
    font-size: 1.5rem; /* Taille de la police */
    color: var(--secondary-color); /* Couleur du texte */
  }
  
  .Projet img {
    padding: 40px;
    width: 170px;
    height: 150px; /* Image adaptative */
    border-radius: 8px; /* Coins arrondis */
  }

/* FIN CONTENT PRINCIPALE */



input,textarea{
    background-color: var(--bg-color);
    box-shadow: var(--box-shadow-hover);
    color: var(--secondary-color);
    width: 70%;
    border-radius: 10px;
    font-size: 20px;
    padding: 16px 16px;
    margin-bottom: 25px;
    font-family: "Space Grotesk", sans-serif; 
    resize: none; /* Empêcher le redimensionnement */
}


input:focus, textarea:focus {
    outline: none; /* Supprime la bordure */
}

#send{
    color: var(--secondary-color);
    background-color:var(--main-color);
    padding: 12px 20px; /* Espacement intérieur */
    font-size: 1.2rem; /* Taille de la police */
    border-radius: 10px; /* Coins arrondis */
    cursor: pointer; /* Curseur pointeur au survol */
    transition: background-color 0.3s ease; /* Transition fluide */
    box-shadow: var(--box-shadow-hover); /* Ombre au survol */
    transition: 0.5s;
}

#send:hover{
    transition: 0.2s;
    opacity: 80%;
    cursor: pointer;
}

.card-image{
    position: relative;
    height: 150px;
    width: 150px;
}



/* FIN CONTACT */



h3,
li,
ul
 {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Poppins;
}

.Parcours {
	width: 80%;
	height: auto;
	margin: auto 0;
	position: relative;
}
.Parcours ul {
	list-style: none;
}
.Parcours ul::after {
	content: " ";
	position: absolute;
	width: 2px;
	height: 100%;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	background-color: var(--secondary-color);
}
.Parcours ul li {
	width: 50%;
	height: auto;
	padding: 15px 20px;
	background-color: var(--bg-color);
	border-radius: 8px;
	box-shadow: 1px 1px 5px var(--secondary-color);
	position: relative;
	margin-bottom: 30px;
	z-index: 99;
}
.Parcours ul li:nth-child(4) {
	margin-bottom: 0;
}
.Parcours ul li .circle {
	position: absolute;
	border-radius: 50%;
	background-color: #e100ff7a;
	top: 0;
	display: grid;
	place-items: center;
}
.circle::after{
	content: ' ';
	width:26px;
	height: 26px;
	background-color: var(--main-color);
    box-shadow: 0px 0px 5px 1px var(--secondary-color);
	border-radius: 50%;
}
ul li:nth-child(odd) .circle {
	transform: translate(50%, -50%);
	right: -30px;
}
ul li:nth-child(even) .circle {
	transform: translate(-50%, -50%);
	left: -30px;
}
ul li .date {
	position: absolute;
	width: 130px;
	height: 33px;
	background-image: linear-gradient(to right,var(--bg-color),var(--main-color));
	border-radius: 15px;
	top: -45px;
	display: grid;
	place-items: center;
	color: var(--secondary-color);
	font-size: 13px;
	box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.318);
}
.Parcours ul li:nth-child(odd) {
    font-family: "Space Grotesk", sans-serif; 
	float: left;
	clear: right;
	text-align: right;
	transform: translateX(-30px);
}
ul li:nth-child(odd) .date {
	right: 20px;
}
.Parcours ul li:nth-child(even) {
    font-family: "Space Grotesk", sans-serif; 
	float: right;
	clear: left;
    text-align: right;
	transform: translateX(30px);
}
ul li .heading {
    text-align: center;
    font-family: "Space Grotesk", sans-serif; 
	font-size: 17px;
	color: var(--secondary-color);
}
ul li p {
    text-align: justify;
    font-family: "Space Grotesk", sans-serif; 
	font-size: 15px;
	color: var(--secondary-color);
	line-height: 18px;
	margin: 6px 0 4px 0;
}
ul li a {
    font-family: "Space Grotesk", sans-serif; 
	font-size: 15px;
	text-decoration: none;
	color: var(--secondary-color);
	transition: all 0.3s ease;
}



/* FIN TIMELINE PRINCIPALE */
footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color:RGB(94, 64, 162);
    text-align: center;
    justify-content: space-around;
    font-size: 12px;
    color: var(--secondary-color);
}

footer img  {
    transition: 0.3s;
    margin-left: 10px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    justify-content: space-around;
}
footer img:hover  {
    transition: 0.3s;
    box-shadow: var(--box-shadow);
}
#Accueil{
    max-width: 100%;
    max-height: 100%;}

.contenant{
    max-width: 100%;
    max-height: 100%;
}
.conteneur{
    max-width: 100%;
    max-height: 100%;
}

@media only screen and (min-width:798px) and (max-width: 1100px) {
	.Parcours{
		width: 80%;
	}
}

@media only screen and (max-width: 798px) {
	.Parcours{
		width: 70%;
		transform: translateX(20px);
	}
	.Parcours ul::after{
		left: -40px;
	}
	.Parcours ul li {
		width: 100%;
		float: none;
		clear: none;
		margin-bottom: 80px;
	}
	.Parcours ul li .circle{
		left: -40px;
		transform: translate(-50%, -50%);
	}
	.Parcours ul li .date{
		left: 20px;
	}
	.Parcours ul li:nth-child(odd) {
		transform: translateX(0px);
		text-align: left;
	}
	.Parcours ul li:nth-child(even) {
		transform: translateX(0px);
	}
}


/* Media queries pour les écrans de petite taille (téléphones) */
@media only screen and (max-width: 1000px) {
    /* Réduire la taille du titre si nécessaire */
    #Accueil {
        z-index: 999;
    }
    
    h1 {
        font-weight: 400;
        font-size: 2.5rem;
        line-height: 1.3;
        padding: 3%;
    
    }
    #titre{
        padding: 0;
    }
    span {

    }
    
    
    #pp {
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
    
    
    nav {
        top: 0;
        right: 0;
        padding: 0;
        width: 100%;
        font-size: 1%;
    }
    
    nav ul {
        padding: 0;
    }
    
    nav ul li { 
        opacity: 0;
        transition: opacity 0.5s ease;
    }
    
    #menuimg {
        top: 5px;
        right: 10px;
        opacity: 1;
        transition: 0.5s;
    }
    
    #menuimg img{
        height: 30px;
        width: 30px;
    }
    
    #menuimg:hover {
        transform: scale(1.15);
    }
    
    #darkmode {
        margin-left: 10px;
        padding: 10px;
        background-image: url("img/darkmode.png");
        background-size: 100%;
    }
    
    #darkmode:hover {
        transform: scale(1.15);
    }
    
    button {
        background-color: transparent;
    }
    
    .menu {
        border-radius: 20px;
        top: 0;
        right:0;
        height: 47px;
        width: 10%;
        margin: 1%;
    }
    .expanded{
        width: 98%;
    }
    .menu button {
        margin-right: 50%;
        font-weight: 400;
        font-size: 95%;
        color: var(--secondary-color);
        border: var(--main-color) 0px solid;
    }
    
    .menu button:hover {
        font-weight: 1000;
        color: var(--secondary-color);
    }
    
    div{ 

    }


	.Parcours{
		width: 70%;
		transform: translateX(20px);
	}
	.Parcours ul::after{
		left: -40px;
	}
	.Parcours ul li {
		width: 100%;
		float: none;
		clear: none;
		margin-bottom: 80px;
	}
	.Parcours ul li .circle{
		left: -40px;
        height: 0px;
        width: 26x;
		transform: translate(-50%, -50%);
	}
	.Parcours ul li .date{
		left: 20px;
	}
	.Parcours ul li:nth-child(odd) {
		transform: translateX(0px);
		text-align: left;
	}
	.Parcours ul li:nth-child(even) {
		transform: translateX(0px);
	}
    
    /* FIN MENU ACCUEIL */
}
