body {
    transition: 2s;
    background-color:  #dfceff;
    font-family: 'Abel', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.first {
    background-image: url("img/1wp9161888-blue-white-4k-wallpapers.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

h1 {
    color: #ffffff;
    font-family: 'Kalam', cursive;
    font-weight: 900;
    font-size: 650%;
    text-align: center;
}

.first img {
    align-items: center;
    height: 20%;
    width: 20%;
    border: 0px solid #ffffff; 
    border-radius: 100%; 
    margin-top: 3%;
}

.first img:hover {
    transition: 2s;
    filter: brightness(1.1) contrast(1.1) saturate(1.1);
}

header {
    padding-bottom: 0%;
}

nav {
    background: linear-gradient(to top, #cba6ff, #013281);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 2%;
    width: 110%;
}

nav ul {
    display: flex;
    text-align: center;
    list-style: none;
    padding: 0;
    justify-content: space-between;
}

nav ul li {
    font-size: 100%;
}
nav.retracte {
    position: fixed;
    top: 0;
    background-color: #000000;
    height: 40px;
    width: 110%;
    padding-bottom: 21px;
    font-size: 100%;
    text-align: center;
    justify-content: space-around;
    font-weight: 100;
}

#darkmode {
    padding: 15px;
    transition: 1s ease;
    background-image: url("img/darkmode.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 20%;
}

button {
    background-color: transparent;
    transition: 1s;
    border: #004ec4 0px solid;
    transition: text-decoration 1s ease;
}

#menu {
    height: 9%;
    width: 50%;
    transition: 0.8s;
}

#menu button {
    margin-right: 50%;
    text-align: center;
    justify-content: space-around;
    font-weight: 100;
    font-family: "Mona Sans","Mona Sans Header Fallback",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    background-color: transparent;
    transition: 1s;
    font-size: 150%;
    color: rgba(255, 255, 255, 0.767);
    border: #004ec4 0px solid;
    transition: text-decoration 1s ease;
}

#menu button:hover {
    font-weight: 300;
    transition: 1s;
    color: white;
}

li:hover > div {
    width: 100%;
}

.smooth-scroll {
    scroll-behavior: smooth;
    transition: transform 5s ease-in-out;
}

.container1 {
    max-width: 90%;
    text-align: center;
    margin: 10% auto;
    margin-top: 2%;
    margin-bottom: 1%;
    border: #3d57a0 2px solid;
    transition: transform 1s, background-color 0.8s, box-shadow 1s;
    font-size: 300%;
    background-color: #ffffff;
}

.container1:hover {
    box-shadow: 0px 0px 50px rgba(0, 110, 255, 0.363);
}

h3 {
    color: #1e6ca0;
    text-align: center;
    font-size: 80%;
}

h4 {
    font-size: 60%;
}

a {
    font-size: 100%;
}

p {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    font-weight: 100;
    font-family: 'Abel', sans-serif;
    line-height: 1.2;
    font-size: 45%;
    text-align: center;
}

strong {
    font-family: 'Abel', sans-serif;
    line-height: 1.4;
    font-size: 90%;
    text-align: center;
}

.cenfy {
    text-align: justify;
}

.Projet img {
    display: block;
    margin: 0 auto;
    height: 0%;
    width: 50%;
}

.Projet {
    border-radius: 1%;
    transition: 0.4s;
    margin: 5%;
}

.Projet:hover {
    font-size: larger;
    box-shadow: 0px 0px 5px rgba(48, 10, 218, 0.808);
}

.underline {
    transition: 1s;
    height: 1px;
    background-color: white;
    width: 0%;
}

strong {
    color: #0099ff;
}

footer {
    border-top: #000000 1px solid;
    background-image: url("img/daniel-sessler-ThXvBnLOseU-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10%;
    filter: saturate(200%) hue-rotate(35deg);
}

footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    filter: hue-rotate(-35deg);
}

footer h2 {
    font-weight: 100;
    font-family: 'Kalam', cursive;
    text-align: center;
}

.menu_re { 
    text-align: center;
    margin: 0px 20px 0px 20px;
    width: 50px;
    height: 50px;
    border-radius: 5%;
    border: #ffffff00 2px solid;
}

.menu_re:hover {
    transition: 1s;
    border: #ffffff 2px solid;
}

@media (max-width: 860px) {
    #darkmode {
        padding: 12px;
        background-size: cover;
    }

    #menu {
        margin: 2%;
        font-size: 90%;
    }

    .first img {
        margin-top: 2%;
        padding: 0%;
        width: 30%;
    }

    .first {
        margin: 0%;
        padding: 0%;
    }

    h1 {
        font-size: 300%;
    }

    .container1 {
        font-size: 180%;
    }
    h3{
        font-size: 110%;
    }

    h4 {
        font-size: 80%;
    }
    p{
        font-size: 60%;
    }

    nav ul {
        display: flex;
        justify-content: center;
        text-align: end;
    }

    .menu_re { 
        text-align: center;
        margin: 0px 20px 0px 20px;
        width: 30px;
        height: 30px;
        border-radius: 5%;
        border: #ffffff00 2px solid;
    }

    nav.retracte {
        position: fixed;
        top: 0;
        background-color: #000000;
        height: 40px;
        width: 110%;
        padding-bottom: 21px;
        font-size: 100%;
        text-align: center;
        justify-content: space-around;
        font-weight: 100;
    }
    
}

@media (max-width: 490px) {
    .containeres {
        padding: 1%;
        padding-top: 1%;
    }

    .first img {
        height: 35%;
        width: 35%;
    }

    .first {
        padding: 0%;
    }

    h1 {
        font-size: 200%;
    }

    .container1 {
        font-size: 130%;
    }

    h2 {
        font-size: 100%;
    }

    h3 {
        font-size: 100%;
    }

    p {
        font-size: 60%;
    }

    a {
        margin: 0%;
    }

    nav {
        width: 100%;
    }

    nav ul {
        display: flex;
        justify-content: center;
        text-align: end;
    }
    nav.retracte {
        position: fixed;
        top: 0;
        background-color: #000000;
        height: 20px;
        width: 100%;
        padding-bottom: 20px;
        font-size: 100%;
        text-align: center;
        justify-content: space-around;
        font-weight: 100;
    }
    #menu button {
        display: flex;
        font-size: 100%;
    }
    #menu a {
        color: transparent;
    }
    
    .menu_re { 
        text-align: center;
        margin: 0px 20px 0px 20px;
        width: 20px;
        height: 20px;
        border-radius: 5%;
        border: #ffffff00 2px solid;
    }
    
    #darkmode {
        margin-left: 5%;
    }
    
    nav ul li {
        font-size: 120%;
    }
}
